/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2017, 6:00:03 PM
    Author     : tannerwilkerson
*/

.card{
    $card-shadow:true;
    height: 700px;
}

.card img{
    height: 350px;
    width: 350px;
}

.button{
    margin:0 0 1rem !important;
}