/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2017, 6:26:51 PM
    Author     : tannerwilkerson
*/

//CUSTOM COLORS
$main-theme-blue: #4885ed;
$main-theme-red: #ed6048;
$main-theme-yellow: #edb348;

.row{
    margin: 0 !important;
    full {
    max-width: 100%; }
}
.menu-bar{
    height: 100%;
    background-color: $main-theme-blue;
}
.hero{
    height:100vh;
    max-width: none;
}

.button{
    background-color: $main-theme-red;
}

.button:hover{
    background-color: lighten($main-theme-red, 10%);
}

.tabs-title{
    background-color: $main-theme-blue;
    a{
        color:#fff;
    }
}

.tabs{
    border: none;
}

.row.full {
  max-width: 100%; }

.menu-bar{
    display: inline-block;
  position: fixed;
  background-color: $main-theme-blue;
  top: 0;
  bottom: 0; 
  padding: 0 !important;
}

.sidebar {
  display: inline-block;
  position: fixed;
  background-color: $main-theme-blue;
  top: 0;
  bottom: 0; 
  padding: 0 !important;
  font-size: 32px;
    h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800; }
    h2 {
    font-weight: 300;
    color: #B0CADB; }

  }

  .middle-header {
    text-align: right;
    position: relative;
    top: 25%;
    transform: translateY(85%); }

.middle-header {
  text-align: center; }

.menuSelection{
    height: 10%;
    color: #ffff;
}

.DailyOrdersSheet{
    column{
        border-right: thin solid #000;
    } 
}

.OrderEntry{
    
}